
localhost:8081 {
    log {
        output file /logs/access.log {
            roll_size 10mb
            roll_keep 7
            roll_keep_for 168h
            roll_local_time
        }
    }

    # Strip /stats/socket and forward to GoAccess root / for websocket communication
    handle_path /stats/socket* {
        reverse_proxy goaccess:7890
    }

    # /stats/* served by GoAccess service
    handle_path /stats* {
        # Strip /stats prefix, so /stats/index.html → /index.html
        
        # Serve static files from GoAccess HTML output
        root * /usr/share/caddy/html
        try_files {path} /index.html
        file_server
    }

    # Everything else goes to the app
    reverse_proxy web-app:3031
}
