{
    email {$LETSENCRYPT_EMAIL}
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    # Optional, faster reload
    # auto_https disable_redirects
}

jan.{$HOST_DOMAIN}, www.{$HOST_DOMAIN}, {$HOST_DOMAIN} {
    reverse_proxy web-app:3031
    encode gzip
}
